//font
$fat: "BellG-Black", sans-serif;
$mid: "BellG-Bold", sans-serif;
$slim: "BellG-Light", sans-serif;

//colors
$main-bright: rgb(209, 213, 214);
$main-bright-025: rgba(209, 213, 214, 0.25);
$main-bright-050: rgba(209, 213, 214, 0.50);
$main-bright-075: rgba(209, 213, 214, 0.75);
$main-dark: rgb(39, 40, 40);
$main-dark-025: rgba(39, 40, 40, 0.25);
$main-dark-050: rgba(39, 40, 40, 0.50);
$main-dark-075: rgba(39, 40, 40, 0.75);
$main-dark-090: rgba(39, 40, 40, 0.90);


//to-top-button
$to-height: 28.7%;
$to-left: 37.7%;
$to-ease-in-time: .8s cubic-bezier(.85,.2,.34,.86);
//component basics

$font-color-bright: rgb(255, 255, 255);
$font-color-dark: rgb(0, 0, 0);
$subtle-border: 1px solid rgba(255, 255, 255, 0.1);

// mixins
@mixin nav-icon-basics {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: inset rgba(250, 250, 250, 0.3) 0px 0px 5px 1px;

    
}
// @keyframes glow {
//     }
// @keyframes glow {

// }
@mixin subtle-border {
    box-shadow: inset 0px -1px 1px 0px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
