//font
$fat: "BellG-Black", sans-serif;
$mid: "BellG-Bold", sans-serif;
$slim: "BellG-Light", sans-serif;

//colors
$main-bright: rgb(209, 213, 214);
$main-dark: rgb(39, 40, 40);
$main-dark-050: rgba(39, 40, 40, 0.50);

//component basics
