//font
$fat: "BellG-Black", sans-serif;
$mid: "BellG-Bold", sans-serif;
$slim: "BellG-Light", sans-serif;

//colors
$main-bright: rgb(209, 213, 214);
$main-bright-025: rgba(209, 213, 214, 0.25);
$main-bright-050: rgba(209, 213, 214, 0.50);
$main-bright-075: rgba(209, 213, 214, 0.75);
$main-dark: rgb(39, 40, 40);
$main-dark-025: rgba(39, 40, 40, 0.25);
$main-dark-050: rgba(39, 40, 40, 0.50);
$main-dark-075: rgba(39, 40, 40, 0.75);
$main-dark-090: rgba(39, 40, 40, 0.90);
// // At 100% Zoom
// $to-top-t-height: 21.7%;
// $to-top-t-left: 34.3%;
// At 500% Zoom
$to-top-t-height: 28.7%;
$to-top-t-left: 37.7%;

//component basics
