
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mid;
    background: transparent;
    color: $main-dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
      font-family: $fat;
      text-align: center;
      font-size: 4rem;
      margin: 2rem 0;
  }
  h2 {
      font-size: 2rem;
      margin-bottom: .5rem;
  }

.App {
    display: flex;
    justify-content: center;
    // position: relative;
    // z-index: 1;
}
.noise-overlay {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
}

.dark-grey {
    background-color: rgba(0, 7, 7, 0.8);
}
.bright-grey {
    background-color: rgba(209, 213, 214, 0.8);
}
.dark-blue {
    background-color: rgba(0,10,15, 0.8);
}
  .component-container {
      width: 1400px;
  }
  .landing, .error404, .producer, .sound-engineer, .web-dev {
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    animation: fadeIn-component 1s;
}
@keyframes fadeIn-component {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}