
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $mid;
    background: $main-bright;
    color: $main-dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1 {
      font-family: $fat;
  }

  .App {
      display: flex;
      justify-content: center;
  }
  .component-container {
      width: 1400px;
  }