

.cursor-component {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    z-index: 50;
    overflow: hidden;
    pointer-events: none;
    mix-blend-mode: exclusion;
    .curser-el-1 {
        position: relative;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        transition: width .3s, height .3s;
        mix-blend-mode: exclusion;
        &:not(.over-container) {
            width: 50px;
            height: 50px;
            transition: width .15s, height .15s;
        }
    }
    .over-element {
        width: 25px;
        height: 25px;
        background-color: rgb(255, 255, 255);
        transition: width .15s, height .15s, background-color 1s;
        mix-blend-mode: hue;

    }
}
.hide-curser {
    transition: 1s;
    background-color: rgba(0, 0, 0, 0);
}
.show-curser {
    background-color: rgb(0, 183, 255);
}