.icon-producer {
    box-shadow: inset rgba(0, 0, 0, 0.3) 0px 0px 50px 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: $main-dark;
    & * {
        background-color: transparent;
    }
    animation: fadeIn-BF-Logo .25s;
    &:hover {
        opacity: 1;
        .explode {
            animation: flyAway 2s forwards; 
            opacity: 1;
        }
    }
    svg {
        width: 100%;
        height: 100%;
    }
        
    @keyframes flyAway {
        0% {
            transform:scale(1);
            opacity: 1;}

        // 25% {
        //     transform:scale(2)}
        50% {
            opacity: 0;
            transform:scale(5)}
        51% {
            opacity: 0;
            transform:scale(0)}

        
        100% {
            opacity: 1;
            transform:scale(1)}
    }

    @keyframes fadeIn-BF-Logo {
        0% {
            opacity: 0;}
        100% {
            opacity: 1;
        }
    }
}

// @media only screen and (max-width: 768px) {
   
// }