.icon-producer {
    box-shadow: inset rgba(0, 0, 0, 0.3) 0px 0px 50px 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 450px;
    height: 100%;
    opacity: 0;
    background-color: $main-dark;
    & * {
        background-color: transparent;
    }
    animation: fadeIn-BF-Logo .25s;
    &:hover {
        opacity: 1;
        .explode {
            animation: flyAway 2s forwards; 
            opacity: 1;
        }
        //Busted
        // .st0-B {animation: flyAway .1*2s;}
        // .st0-U {animation: flyAway .2*2s;}
        // .st0-S {animation: flyAway .3*2s;}
        // .st0-T {animation: flyAway .4*2s;}
        // .st0-E1 {animation: flyAway .5*2s;}
        // .st0-D {animation: flyAway .6*2s;}
        // //Fingerz
        // .st0-F {animation: flyAway .8*2s;}
        // .st0-I-dot {animation: flyAway .6*2s;} //GANZ ZUM SCHLUSS?
        // .st0-I-line {animation: flyAway .9*2s;}
        // .st0-N {animation: flyAway .7*2s;}
        // .st0-G {animation: flyAway .8*2s;}
        // .st0-E2 {animation: flyAway .9*2s;}
        // .st0-R {animation: flyAway 1*2s;}
        // .st0-Z {animation: flyAway 1.1*2s;}
        // .st0-Z_ {animation: flyAway 1.3*2s;} //
        // //Thump
        // .st0-T1 {animation: flyAway .7*2s;}
        // .st0-T2 {animation: flyAway 1*2s;}
        // .st0-T3-1 {animation: flyAway 1.5*2s;}
        // .st0-T3-2 {animation: flyAway 1.7*2s;}
        // .st0-T3-3 {animation: flyAway 1*2s;}
        // //Index Finger
        // .st0-IF1 {animation: flyAway 1.2*2s;}
        // .st0-IF2-1 {animation: flyAway 1.3*2s;}
        // .st0-IF2-2 {animation: flyAway 1.4*2s;}
        // .st0-IF2-3 {animation: flyAway .5*2s;}
        // .st0-IF2-4 {animation: flyAway 1.6*2s;}
        // .st0-IF3-1 {animation: flyAway .9*2s;}
        // .st0-IF3-2 {animation: flyAway 2.1*2s;}
        // .st0-IF3-3 {animation: flyAway 2.3*2s;}
        // .st0-IF3-4 {animation: flyAway 1.5*2s;}
        // .st0-IF3-5 {animation: flyAway 1.7*2s;}
        // //Middle Finger
        // .st0-MF1 {animation: flyAway 1.3*2s;}
        // .st0-MF2 {animation: flyAway 1.6*2s;}
        // .st0-MF3-1 {animation: flyAway 1.7*2s;}
        // .st0-MF3-2 {animation: flyAway 1.8*2s;}
        // .st0-MF3-3 {animation: flyAway .9*2s;}
        // .st0-MF3-4 {animation: flyAway 1.2*2s;}
        // .st0-MF3-5 {animation: flyAway 1.4*2s;}
        // //Ring Finger
        // .st0-RF1 {animation: flyAway 1.3*2s;}
        // .st0-RF2 {animation: flyAway 1.6*2s;}
        // .st0-RF3 {animation: flyAway .8*2s;}
        // //Lil Finger
        // .st0-LF1 {animation: flyAway .5*2s;}
        // .st0-LF2 {animation: flyAway 1.8*2s;}
        // .st0-LF3 {animation: flyAway .8*2s;}
        // .st0-LF4 {animation: flyAway 1.2*2s;}
    }
    svg {
        width: 100%;
        height: 100%;
    }
        
    @keyframes flyAway {
        0% {
            transform:scale(1);
            opacity: 1;}

        // 25% {
        //     transform:scale(2)}
        50% {
            opacity: 0;
            transform:scale(5)}
        51% {
            opacity: 0;
            transform:scale(0)}

        
        100% {
            opacity: 1;
            transform:scale(1)}
    }

    @keyframes fadeIn-BF-Logo {
        0% {
            opacity: 0;}
        100% {
            opacity: 1;
        }
    }
}