.main-nav {
    display: flex;
    
    position: relative;
    .nav-link {
        position: relative;
        flex: 1 0 0;
        margin: 0 .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 450px;
        height: 450px;
        font-size: 3vw;
        background-color: $main-dark;
        color: $main-bright;
        text-decoration: none;
        transition: .5s;

        &:hover {
            background-color: rgba(39, 40, 40, 0.50);
        }
    }
    
    
}

.shrinked-main-nav {
    display: flex;
    flex-flow: wrap;
    height: 8rem;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: 2rem 4rem;
    // row-gap: .5rem;
    transition: .5s;
    .shrinked-nav {
        position: absolute;
        height: 3rem;
        font-size: 2rem;
        transition: .5s;
            max-width: calc(50% - 1px);

        &:nth-child(3) {
            right: 0;
        }
        
    }
    .right-nav {
        right: 0;
    }
    .active-nav {
        position: absolute;
        top: 4rem;
            height: 4rem;
            font-size: 3rem;
            transition: .5s;
            background-color: $main-bright;
            color: $main-dark;
            width: 100%;
            max-width: 100%;
            &:hover {
                background-color: $main-bright;
                cursor: initial;
            }
    }
}

.home-link {
    text-decoration: none;
}

