.producer {
    position: relative;
    font-size: 1.2rem;
    * {
        list-style-type: none;
    }

    section {
        margin-bottom: 3rem;
        width: 100%;
        border-radius: 2px;
    }
    .bio {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: $main-bright-050;
        backdrop-filter: blur(3px);
        padding: 2rem;
        .img-container {
            height: 100%;
            height: 500px;
            width: 50%;
            border-radius: 2px;
            .img-holder {
                background-image: url(https://i.ibb.co/x2vkHQs/busted-fingerz-live.png);
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 100%;
                border-radius: 2px;
                
            }
        }
        article {
            position: relative;
            z-index: 2;
            padding-left: 2rem;
            width: 50%;
            * {
            color: $main-dark;
            }
        }
    }
    .discography {
        padding: 1rem;
        backdrop-filter: blur(3px);
        background-color: $main-bright-050;
        .discography-container {
            display: flex;
            flex-flow: wrap;
            justify-content: space-around;
            margin: 1.5rem 0 0;
        }
    } 
}
@media only screen and (max-width: 768px) {
    .producer {
        .bio {
            flex-direction: column;
            .img-container {
                width: 100%;
                height: 150px;
                margin-bottom: 2rem;
            }
            article {
                width: 100%;
                padding: 0;
            }
        }
    }
}
@media only screen and (max-width: 596px) {
    .producer {
        .bio {
        padding: 1rem 8px ;
        }
        .discography {
            padding: .5rem;
            .ref-card {
                max-width: 100vw;
                max-height: 100vw;
                width: 90vw;
                height: 90vw;
            }
        }
    }
}
