.sound-engineer {
    position: relative;
    font-size: 1.1rem;

    * {
        list-style-type: none;
        text-decoration: none;
    }
    section {
        margin-bottom: 3rem;
        width: 100%;
    }
    //////////////////////////
    //BANNER AND INTRO SECTION
    //////////////////////////
    .se-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        justify-content: center;
        width: 100%;
        background-color: $main-bright-050;
        backdrop-filter: blur(3px);
        padding: 2rem;
        .intro-top {
            display: flex;
            margin-bottom: 4rem;
            .img-container {
                height: 100%;
                height: 400px;
                width: 50%;
                border-radius: 2px;
                .img-holder {
                    background-image: url(https://i.ibb.co/MPjdmNV/at-dorian-gray-studios.png);
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    border-radius: 2px;
                    
                }
            }
            article {
                width: 50%;
                position: relative;
                z-index: 2;
                padding-left: 2rem;
                width: 50%;
                p {
                    font-size: calc(1rem + 1vw);

                }
            }
        }
        .intro-bottom {
            display: flex;
            justify-content: space-around;
            p {
                background-color: $main-dark-075;
                color: $main-bright;
                width: calc(30%);
                border-radius: 4px;
                padding: 1vw;
                height: fit-content;
            }
        }

    }

    //////////////////////////
    //    OFFERS SECTION
    //////////////////////////

    .se-offers, .se-ref {
        padding: 1rem;
        backdrop-filter: blur(3px);
        background-color: $main-bright-050;
        * {
            color: $main-dark;
        }
        h3 {
            padding-left: 1rem;
            border-bottom: 1px solid $main-dark-050;
            &:not(:first-child) {
                margin-top: 1.5rem;
            }
        }
        p {
            padding: 1rem;
        }
        .not-convinced {
            margin: 3rem 0 2rem;
            border: none;
            text-align: center;
        }
    }
        

    .sm-container {
        padding: 0 1rem;
        li {
            text-decoration: underline;
            width: fit-content;
            font-size: calc(1rem + .5vw);
            &:hover {
                i, a {
                    color: $main-bright;
                }
            }
            i {
                width: 3rem;
                font-size: calc(1.1rem + .5vw);
            }
        }
    }
    .se-ref-container {
        .ref-master-container {
            margin-bottom: 2rem;
        }
    }
    .ref-card-container {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        margin: 1.5rem 0;
        .ref-card {
            .content-container {
                div:not(.blur-layer) {
                    height: 50%;
                }
            }
        }
    }
    .se-bio {
        
        padding: 1rem;
        backdrop-filter: blur(3px);
        background-color: $main-bright-050;
        p {
            padding: 1rem;
        }
    }

}


@media only screen and (max-width: 768px) {
    .sound-engineer {
        //////////////////////////
        //BANNER AND INTRO SECTION
        //////////////////////////
        .se-intro {
            .intro-top {
                flex-direction: column;
                .img-container {
                    width: 100%;
                    height: 150px;
                    margin-bottom: 2rem;
                }
                article {
                    width: 100%;
                    padding: 0;
                }
            }
            .intro-bottom {
                flex-flow: wrap;
                justify-content: space-between;
                p {
                    &:not(:last-child) {
                        width: 45%;
                        margin-bottom: 2rem;
                    }
                    &:last-child {
                    width: 100%;

                    }
                }
            }
    
        }
    
        //////////////////////////
        //    OFFERS SECTION
        //////////////////////////
    
        .se-offers, .se-ref {
            h3 {
                &:not(:first-child) {
                }
            }
            p {
            }
            .not-convinced {
            }
        }
            
    
        .sm-container {
            li {
                &:hover {
                    i, a {
                    }
                }
                i {
                }
            }
        }
        .se-bio {
        }
    
    }
}

@media only screen and (max-width: 596px) {
    .sound-engineer {
        //////////////////////////
        //BANNER AND INTRO SECTION
        //////////////////////////
        .se-intro {
            padding: 1rem 8px;
            .intro-top {
                .img-container {
                }
                article {
                    width: 100%;
                    padding: 0;
                }
            }
            .intro-bottom {
                flex-flow: wrap;
                justify-content: space-between;
                p {
                    padding: 8px;
                    &:not(:last-child) {
                        width: 100%;
                    }
                }
            }
    
        }
        //////////////////////////
        //    OFFERS SECTION
        //////////////////////////
    
        .se-offers, .se-ref {
            padding: 1rem 8px;
        }
        .se-bio {
            padding: 1rem 8px;
        }
    }
}