.sound-engineer {
    position: relative;
    font-size: 1.1rem;

    * {
        list-style-type: none;
        text-decoration: none;
    }
    section {
        margin-bottom: 10rem;
        width: 100%;
    }
    
    h3 {
        color: $main-bright;
        padding: .5rem 1rem;
        border-bottom: 1px solid $main-bright;
        &:not(:first-child) {
            margin-top: 3rem;
        }
    }
    //////////////////////////
    //BANNER AND INTRO SECTION
    //////////////////////////
    .se-intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        backdrop-filter: blur(3px);
        .intro-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4rem;
            .img-container {
                height: 100%;
                height: 400px;
                width: 48%;
                border-radius: 2px;
                .img-holder {
                    background-image: url(https://i.ibb.co/MPjdmNV/at-dorian-gray-studios.png);
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                    border-radius: 2px;
                    
                }
            }
            article {
                width: 48%;
                position: relative;
                z-index: 2;
                padding-left: 2rem;
                width: 50%;
                p {
                    border-radius: 2px;
                    font-size: calc(1rem + .7vw);
                    padding: 1rem;
                    background-color: $main-bright-050;

                }
            }
        }
        .intro-bottom {
            display: flex;
            justify-content: space-around;
            p {
                @include subtle-border;
                background-color: $shade;
                color: $main-bright;
                width: calc(30%);
                border-radius: 4px;
                padding: 1vw;
                height: fit-content;
            }
        }

    }

    //////////////////////////
    //    OFFERS SECTION
    //////////////////////////

    .se-offers {
        padding: 1rem 0;
        backdrop-filter: blur(3px);
        
        p, ul {
            color: $main-bright;
             * {
                color: $main-bright;

             }
        }

        p {
            padding: 1rem;
        }
        .no-border {
            box-shadow: none;
        }
        .not-convinced {
            border: none;
            padding: 1rem;
            text-align: center;
            background-color: $shade-more;
            color: $main-bright;
            @include subtle-border;
        }
    }
    .se-ref {

    }
        

    .sm-container {
        padding: 0 1rem 1rem;
        li {
            text-decoration: underline;
            width: fit-content;
            font-size: calc(1rem + .5vw);
            &:hover {
                i, a {
                    color: rgb(0, 183, 255)
                }
            }
            i {
                width: 3rem;
                font-size: calc(1.1rem + .5vw);
            }
        }
    }
    .se-ref-container {
        .ref-master-container {
            margin-bottom: 2rem;
        }
    }
    .ref-card-container {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        padding: 1.5rem 0;
        .ref-card {
            .content-container {
                div:not(.blur-layer) {
                    height: 50%;
                }
            }
        }
    }
    .se-bio {
        
        padding: 1rem;
        backdrop-filter: blur(3px);
        background-color: $main-bright-050;
        border-radius: 2px;
        p {
            
            padding: 1rem .5rem;
        }
    }
}


@media only screen and (max-width: 768px) {
    .sound-engineer {
        //////////////////////////
        //BANNER AND INTRO SECTION
        //////////////////////////
        .se-intro {
            .intro-top {
                flex-direction: column;
                .img-container {
                    width: 100%;
                    height: 150px;
                    margin-bottom: 2rem;
                }
                article {
                    h2 {
                        padding-left: 1rem;
                    }
                    width: 100%;
                    padding: 0;
                }
            }
            .intro-bottom {
                flex-flow: wrap;
                justify-content: space-between;
                p {
                    &:not(:last-child) {
                        width: 45%;
                        margin-bottom: 2rem;
                    }
                    &:last-child {
                    width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 596px) {
    .sound-engineer {
        section {
            margin-bottom: 5rem;
        }
        //////////////////////////
        //BANNER AND INTRO SECTION
        //////////////////////////
        .se-intro {
            padding: 1rem 0;
            .intro-top {
                article {
                    width: 100%;
                    padding: 0;
                    p {
                        padding: .5rem;
                    }
                }
            }
            .intro-bottom {
                flex-flow: wrap;
                justify-content: space-between;
                p {
                    &:not(:last-child) {
                        width: 45%;
                        margin-bottom: .5rem;
                    }
                    padding: 8px;
                    &:not(:last-child) {
                        width: 100%;
                    }
                }
            }
    
        }
        //////////////////////////
        //    OFFERS SECTION
        //////////////////////////
    
        // .se-offers, .se-ref {
        //     padding: 1rem 8px;
        // }
        .se-ref {
            .se-ref-container {
                .ref-card-container {
                    .ref-card {
                        max-width: 100vw;
                        max-height: 100vw;
                        width: 90vw;
                        height: 90vw;
                    }
                }
            }
        }
        .se-bio {
            padding: 1rem 8px;
        }
    }
}