.to-top-playground {
    height: 100vh;
    width: 100vw;
    background-color: $main-dark-025;
    position: relative;
    display: flex;
    justify-content: center;

    .help-line-hoz {
        width: 100%;
        border-bottom: 1px blue solid;
        position: absolute;
        top: 94px;
    }

    .to-top-preview, .to-top {
        width: 80px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $main-dark-025;
        border-radius: 100%;
        position: relative;
        margin-top: 50px;
        p {
        font-size: 1.08rem;

        }
    }
    .to-top {
        * {
            position: absolute;
        }
        .word-top {
            // top: 40px;
            position: relative;
        }
        .word-to {
            position: relative;
            z-index: 2;
            color: red;
        }
        ////////////////////
        //       T
        ////////////////////
        .t-roof-l, .t-roof-r {
            height: 2.1%;
            background-color: $main-dark;
            top: $to-top-t-height; //28.7%;
            z-index: 3;
        }
        .t-roof-l {
            left: $to-top-t-left; //37.7%;
            width: 6%;
        }
        .t-roof-r {
            left: $to-top-t-left + 5.9%;
            width: 5.9%;
        }
        .t-neck {
            height: 13.7%;
            width: 2px;
            background-color: $main-dark;
            top: $to-top-t-height + 2.1%;
            left: $to-top-t-left + 4.55%;
            z-index: 3;

        }
        ////////////////////
        //       O
        ////////////////////
        .o-body {
            width: 10.8%;
            height: 16.3%;
            border: solid $main-dark;
            border-width: 2px;
            top: $to-top-t-height - .1%;
            left: $to-top-t-left + 13.6%;
            z-index: 3;
            border-radius: 56% / 49%; //first value is shaping the long sides
        }
    }
}