@font-face {
    font-family: "BellG-Black";
    src: url("../font/BellGothicStd-Black.otf")
}
@font-face {
    font-family: "BellG-Bold";
    src: url("../font/BellGothicStd-Bold.otf")
}
@font-face {
    font-family: "BellG-Light";
    src: url("../font/BellGothicStd-Light.otf")
}