.web-dev {
    position: relative;
    font-size: 1.1rem;

    
    section {
        width: 100%;
        max-width: 1400px;
        position: relative;
        h2 {
            margin-bottom: 1rem;
        }
        h3 {
            padding-left: 1rem;
            border-bottom: 1px solid $main-dark-050;
        }
        a {
            transition: .15s;
            &:hover {
                color: $main-bright;
                transition: .15s;
            }
        }
    }


    .web-dev-intro {
        
        padding: 1rem;
        backdrop-filter: blur(3px);
        background-color: $main-dark-025;
        margin-bottom: 3rem;

        .content-container {
            display: flex;
            flex-flow: wrap;
            .time-line {
                padding: 1rem;
                width: 50%;

                .code-window {
                    padding: .5rem;
                    background-color: $main-dark;

                }

                code, span {
                    font-family: 'Source Code Pro', monospace;
                    color: $main-bright;
                }

                .dot-1, .dot-2, .dot-3 {
                    margin-left: .1px;
                }
                .dot-1 {
                animation: dot1 2s infinite;
                }
                .dot-2 {
                animation: dot2 2s infinite;
                }
                .dot-3 {
                animation: dot3 2s infinite;
                }
            }
            @keyframes dot1 {
                0% {opacity:0}
                24% {opacity:0}
                25% {opacity:1}
                100% {opacity:1}
            } 
            @keyframes dot2 {
                0% {opacity:0}
                49% {opacity:0}
                50% {opacity:1}
                100% {opacity:1}
            } 
            @keyframes dot3 {
                0% {opacity:0}
                74% {opacity:0}
                75% {opacity:1}
                100% {opacity:1}
            } 
            .technology-chart {
                width: 50%;
                padding: 1rem;
                ul {
                    display: flex;
                    flex-flow: wrap;
                    justify-content: space-around;
                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0 .5rem 1rem;
                        .img-container {
                            width: 80px;
                            height: 80px;
                            display: flex;
                            align-items: center;
                        }
                        .level-container {
                            margin-top: 1rem;
                        }
                    }
                }
                .tech-icon {
                    width: 5rem;
                }
            }
        }
            .contact {
                .contact-list {
                    padding: 1rem;
                    li {
                        a:hover {
                            color: rgb(0, 183, 255);
                            transition: .15s;
                        }
                        &:not(:last-child) {
                        margin-bottom: .5rem;
                    }

                    }
                }
            }
    }


    .web-dev-ref {
        position: relative;
        max-width: 1400px;
        padding: 1rem;
        margin-bottom: 1rem;
        backdrop-filter: blur(3px);
        background-color: $main-dark-025;
        div:not(:last-of-type) {
                margin-bottom: 3rem;
        }

        .ref-container {
            position: relative;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center ;
            margin: 1rem;
            


            .ref-description {
                backdrop-filter: blur(3px);
                background-color: $main-dark-090;
                max-width: 600px;
                padding: 1rem 1rem 0;
                margin: 1rem;
                border-radius: 4px;
                p {
                    padding: 1rem;
                    white-space: pre-wrap;
                }
                ul {
                    padding: 1rem;
                    li {
                        font-size: calc(1rem + .5vw);
                        list-style-type: none;
                        margin: .5rem 0;
                        transition: .15s;
                        a:hover {
                            color: rgb(0, 183, 255);
                            transition: .15s;
                        }
                    }
                }

            }
        }
        .etikett-radio, .merch-store, .simonschoetz-de {
            * {
                color: $main-bright;
                border-color: $main-bright;
            }

        }
        .etikett-radio {
            background-image: url(https://i.ibb.co/G5WFDN1/etikett-home.png);
        }
        .merch-store {
            background-image: url(https://i.ibb.co/XV92dxV/merch-store-wip.png);

        }
        .simonschoetz-de {
            background-image: url(https://i.ibb.co/BcNt79D/simonschoetz-home.png);
        }
    }
    
}

@media only screen and (max-width: 768px) {
    .web-dev {
        .web-dev-intro {
            padding: .5rem;
            .content-container {
                .time-line {
                    width: 100%;
                }
                .technology-chart {
                    width: 100%;
                    ul {
                        li {
                            .img-container {
                                max-width: 80px;
                                max-height: 80px;
                                width: 21vw;
                                height: 21vw;
                            }

                        }
                    }
                    .tech-icon {
                        max-width: 5rem;
                        width: 21vw;
                    }
                }
            }

        }
        .web-dev-ref {
            padding: .5rem;
            .ref-container {
                .ref-description {
                    h3 {
                        padding-left: .5rem;
                    }
                    padding: .5rem .5rem 0;
                    margin: .5rem;
                    p, ul {
                        padding: .5rem;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 596px) {
    .web-dev {
        .web-dev-intro {
            padding: 1rem 8px ;
        }
        .web-dev-ref {
            padding: 1rem 8px ;
        }
    }
}